langchain-core
langchain-community
langchain-huggingface
langchain-openai
langchain-pinecone
langgraph
pydantic
python-dotenv
pandas
torch
sentence-transformers
fastapi
uvicorn
flashrank
matplotlib
numpy
